body{
    background-color:silver;
}

strong{
    color:crimson;
}

.Destaque{
    font-size: 50px;
}

img{
    border-radius: 50%;
    height: 200px;
}

#item{
    color: white;
}

#item{
    color: blue;
    font-size: 50px;
}
#valorTotal{
    color:red
}
#total{
    color: crimson;
}